
body {
	background: url("../img/memethis-header-bg.png");
    background-repeat:repeat-x;
    color: #535353;
    font-family: "Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;
    font-size: 76%;
    margin: 0;
}

div.success {
    font-size: 1.1em;
}

div#header {
    clear: both;
    display: inline;
    float: left;
    height: 220px;
    margin: 0;
    text-align: center;
    width: 100%;
}
div.container {
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 920px;
    z-index: 100;
}

#content {
	align:center;
    margin:36px auto 36px auto;
    padding:12px 24px 12px 24px;
}

div.col {
    display: inline;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
}

div.tpl-2col .col1 {
    margin: 0 40px 0 0;
    width: 440px;
}
div.tpl-2col .col2 {
    margin: 0;
    width: 440px;
}

a {
    color:#6c3661;
}

p {
    margin-top: 0px;
    text-align: left;
}

p.action {
    text-align: center;
    margin-top: 64px;
}

p.subtitle {
	text-align: center;
    margin-top: 5px;
}

div.content hr {
    background-color: #DDDDDD;
    border: 0 none;
    color: #DDDDDD;
    float: left;
    height: 1px;
    margin: 30px 0 20px;
    text-align: left;
    width: 100%;
}
